*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 30px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    color:white;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: #1E1E1E;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.2) ;
    text-align: center;
}
h1{
    margin-bottom: 30px;
    font-size: 30px;
}
.input-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
input[type="text"]{
    width: 70%;
    padding: 10px;
    background-color: #333333;
    border: none;
    border-radius: 10px;
    color: white;
    outline: none;
}
button{
    width: 25%;
    padding: 10px;
    background-color: #6200EA;
    border: none;
    border-radius: 10px;
    color:white;
    cursor: pointer;
    transition: background-color 0.3s;
}
input:hover{
    background-color:navy;
}
button:hover{
    background-color: red;

}
#weather-info{
    margin-top: 20px;
}
.hidden{
    display: none;
}