*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-around;
    
}



.left{
    display: flex;
    justify-content: space-around;
    align-content: center;


}