.container{
    
    background-color: aqua;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#stop{
    background-color: blueviolet;
    height: 50px;
    width: 100px;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}  